//Color variables
$color-info: #1562f1f3;
$color-success: #3a9c2d;
$color-warning: #dfc014;
$color-danger: #e41818;

$color-white: #ffffff;
$color-black: #000000;
$color-background: #edf2f8;
$color-border: #dfdddd;
